@use 'reboot';
@use 'header';
@use 'button';
@use 'link';
@use 'tagline';
@use 'toDoList';
@use 'form';

body{
    background-color: rgb(209, 209, 209);  
    text-align: center;
}

h1 {
    display: none;
}

footer {
    background-color: rgb(245, 185, 185);
    position: -webkit-sticky;
	position: sticky;
	bottom: 0;
}

.errorContent{
    margin-bottom: 5rem;
}

@media only screen and (min-width: 480px) {
	header {
        max-width: 30rem;
        margin: 0 auto;
    }

    main {
        max-width: 30rem;
        margin: 0 auto;
    }
}